project_name                     = "hotel"
environment                      = "prod"
network_state_bucket             = "example-hotel-tfstate"
network_state_key                = "prod/stacks/network/terraform.tfstate"
state_region                     = "ap-southeast-1"
primary_eks_nlb_listener_arn     = "arn:aws:elasticloadbalancing:ap-southeast-1:<account>:listener/net/hotel-api-private/..."
secondary_eks_nlb_listener_arn   = "arn:aws:elasticloadbalancing:ap-southeast-2:<account>:listener/net/hotel-api-private/..."
primary_web_alb_dns_name         = "k8s-hotel-web-primary-xxxxxxxx.ap-southeast-1.elb.amazonaws.com"
secondary_web_alb_dns_name       = "k8s-hotel-web-secondary-xxxxxxxx.ap-southeast-2.elb.amazonaws.com"
us_east_1_acm_certificate_arn    = "arn:aws:acm:us-east-1:<account>:certificate/<id>"
api_domain_name                  = "api.hotel.example.com"
web_domain_name                  = "www.hotel.example.com"
route53_zone_id                  = "ZXXXXXXXX"
create_route53_record            = true
create_web_route53_record        = true
notifications_lambda_arn         = "arn:aws:lambda:ap-southeast-1:<account>:function:hotel-notifications"
audit_lambda_arn                 = "arn:aws:lambda:ap-southeast-1:<account>:function:hotel-audit"
notifications_lambda_arn_secondary = "arn:aws:lambda:ap-southeast-2:<account>:function:hotel-notifications"
audit_lambda_arn_secondary       = "arn:aws:lambda:ap-southeast-2:<account>:function:hotel-audit"
